@tailwind base;
@tailwind components;
@tailwind utilities;

.hero_bg {
  background-image: url("../../public/img/HeroBG.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.custom_strong strong {
  color: #fe877c !important;
  width: fit-content;
  height: fit-content;
}
